*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; 
    margin: 0;  
}
.common{
    max-width:1220px;
    margin: 0 auto;
}
.price{
    font-size: 41px;
    font-weight: 600;
    color:rgba(115, 12, 6, 0.808);
}
.btn{
    background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%,rgb(255, 19, 111) 99.994%);
    color: aliceblue;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 10px;
    border-radius: 8px;
    border: none;
    margin: 8px 0;
}
/* nav */
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 35px;
}
.nav-src{
        position: relative;
         color: #bababa;
      
}
.nav-src input{
    padding: 12px 30px;
    border-radius: 40px;
    background-color:rgb(241, 241, 241) ;
    border: none;
    width: 500px;
    
    
}
.nav-src i{
    position: absolute;
    top:16px;
    right:20px;
    color: rgba(0, 0, 0, 0.329);
} 
nav ul{
    display:flex;
    justify-content: space-between;
    gap: 20px;
  
}
nav li{
    list-style: none;
 
}
nav li a{
    color: #8d0505;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}
nav img{
    max-height: 41px;
}
header{
    background-color: rgba(0, 0, 0, 0.741);
}
.banner{
    background-color:rgb(254, 234, 233);
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    padding: 28px;
    border-radius: 10px;
    margin: 25px  35px;
}
.banner h2{
    font-size: 56px;
    font-weight: 700;
}
.banner p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(78, 78, 78) ;
    margin-bottom: 10px;
}
.banner-img img{
   
     width: 402px;
     height: 378px;
}